<h1 class="display-4">Welcome To TutorialBase</h1>
<p class="mb-4">This is a Sails.js app for managing Tutorials</p>
<a href="/Tut/list" class="btn btn-light">View Tutorials</a>
<a href="/Tut/add" class="btn btn-light">Add Tutorial</a>